NET "PAD_16MHz" LOC="P135";
NET "PAD_RESET_n" LOC="P9";
NET "PAD_MREQ_n" LOC="P4";
NET "PAD_M1_n" LOC="P2";
NET "PAD_IORQ_n" LOC="P3";
NET "PAD_RD_n" LOC="P124";
NET "PAD_HSYNC" LOC="P6";
NET "PAD_VSYNC" LOC="P5";
NET "PAD_DISPEN" LOC="P7";
NET "A14" LOC="P138";
NET "A15" LOC="P136";
NET "D0" LOC="P117";
NET "D1" LOC="P118";
NET "D2" LOC="P119";
NET "D3" LOC="P120";
NET "D4" LOC="P121";
NET "D5" LOC="P12";
NET "D6" LOC="P11";
NET "D7" LOC="P10";
NET "PAD_PHI_n" LOC="P57";
NET "PAD_RAS_n" LOC="P142";
NET "PAD_CASAD_n" LOC="P137";
NET "PAD_CPU" LOC="P41";
NET "PAD_CCLK" LOC="P51";
NET "PAD_MWE_n" LOC="P140";
NET "PAD_244E_n" LOC="P126";
NET "PAD_CAS_n" LOC="P40";
NET "PAD_SYNC_n" LOC="P53";
NET "PAD_INT_n" LOC="P139";
NET "PAD_BLUE" LOC="P49";
NET "PAD_GREEN" LOC="P46";
NET "PAD_RED" LOC="P44";
NET "PAD_ROMEN_n" LOC="P128";
NET "PAD_RAMRD_n" LOC="P129";
NET "PAD_READY" LOC="P125";

