NET "PAD_16MHz" LOC="P30";
NET "PAD_RESET_n" LOC="P50";
NET "PAD_MREQ_n" LOC="P31";
NET "PAD_M1_n" LOC="P39";
NET "PAD_IORQ_n" LOC="P34";
NET "PAD_RD_n" LOC="P69";
NET "PAD_HSYNC" LOC="P38";
NET "PAD_VSYNC" LOC="P43";
NET "PAD_DISPEN" LOC="P48";
NET "A14" LOC="P58";
NET "A15" LOC="P60";
NET "D0" LOC="P71";
NET "D1" LOC="P74";
NET "D2" LOC="P76";
NET "D3" LOC="P83";
NET "D4" LOC="P88";
NET "D5" LOC="P25";
NET "D6" LOC="P27";
NET "D7" LOC="P28";
NET "PAD_PHI_n" LOC="P35";
NET "PAD_RAS_n" LOC="P53";
NET "PAD_CASAD_n" LOC="P57";
NET "PAD_CPU" LOC="P41";
NET "PAD_CCLK" LOC="P52";
NET "PAD_MWE_n" LOC="P54";
NET "PAD_244E_n" LOC="P66";
NET "PAD_CAS_n" LOC="P40";
NET "PAD_SYNC_n" LOC="P51";
NET "PAD_INT_n" LOC="P56";
NET "PAD_BLUE" LOC="P49";
NET "PAD_GREEN" LOC="P46";
NET "PAD_RED" LOC="P44";
NET "PAD_ROMEN_n" LOC="P61";
NET "PAD_RAMRD_n" LOC="P59";
NET "PAD_READY" LOC="P68";
